.image {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.image_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image_container p {
    cursor: pointer;
}

.formLabel {
  padding: 10px 0px;
  font-size: 15px;
  cursor: pointer;
  border: 3px dotted var(--color-variant-black);
  background-color: #fdfdff;
  position: relative;
  color: #27272b;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 200px; 
  margin: 10px 0px
}
